{% extends "base.html" %}
{% block title %} Login{% endblock %}

{% block content %}
    <form method="POST">
    <h3 align="center">LOGIN</h3>
    <div class="form-control">
  <label for="Email" class="form-label" id="Email" >Email address</label>
  <input type="email" class="form-control" id="email" name="Email"placeholder="name@example.com">

  <label for="Password" class="form-label" id="Password" >Password</label>
  <input type="password" class="form-control" id="Password" name="Password" placeholder="*******">
        <br />

    <button class="btn btn-primary" type="submit">Login</button>
</div>
</div>
    </div>
    </form>
{% endblock %}